*{padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}.d-flex{display: flex;}.justify-center{justify-content: center;}.justify-between{justify-content: space-between;}.align-center{align-items: center;}.text-center{text-align: center;}
header{width: 100%; background-color: blue;}
.container-md{width: 1140px; margin: 0 auto; padding: 10px 0px;}
.container-md h1{color: #fff;}
section fieldset{height: 75vh;}
section legend{font-size: 30px; font-weight: bold;}
section textarea{width: 90vw; ; height: 65vh; margin-top: 10px; border: none; overflow: scroll; outline: none; font-size: 15px;}
section .hide{display: none;}
footer .col-md-6 button{padding: 10px 30px; color: #fff; background-color: blue; border: none; border-radius: 5px; margin: 0px 5px; transition: 0.5s ease;}
footer .col-md-6 button:hover{transform: translate(5px,7px);}
footer .btn-hide{display: none;}

@media(min-width:1260px){
.container-md{width: 100%;} 
 section fieldset{padding: 0px 30px; height: 150vh; background-color: #fff9f2;}
section textarea{width: 100%; height: 130vh; border-radius: 10px; font-size: 25px;}
}
@media(max-width:1024px){
.container-md{width: 100%;} 
section fieldset{padding: 0px 15px; height: 120vh; background-color: #fff9f2;} 
section textarea{width: 100%; height: 100vh; border-radius: 10px;}
}
@media(max-width:640px){
header h1{font-size: 25px;}
fieldset legend{font-size: 20px;}    
section fieldset{height: 90vh;}
section textarea{font-size: 12px; height: 80vh;}

}



